@use '../abstracts/colours' as c;

.footer {
	background: c.$codGray;

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7.8rem 0;
	}

	&__width {
		max-width: 111rem;
		width: 100%;
		margin: 0 auto;
	}
}
