//Navbar
@use '../abstracts' as *;

.header {
	background-image: url('../../public/assets/homepage/hero-bg-desktop@2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 82rem;
	background-position: top center;

	&__inner {
		padding-top: 6.5rem;
		padding-left: 16.5rem;
		z-index: 0;
		position: relative;
		@include flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}
}

.hero {
	max-width: 52.3rem;
	padding-top: 15.3rem;
	text-align: left;

	&--info {
		padding-bottom: 4.2rem;
		color: var(--white);
		max-width: 44.5rem;
	}
}
