//Navbar
@use '../abstracts/colours' as c;
@use '../abstracts/mixins' as m;
@use '../abstracts/breakpoints' as b;

// HERO
.header {
	position: relative;
	background-image: url('../../public/assets/homepage/hero-bg-desktop@2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 82rem;
	background-position: top center;
	z-index: -999;
	background-color: #000;

	@include b.breakpoint(medium) {
		background-image: url('../../public/assets/homepage/hero-bg-tablet@2x.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 99.2rem;
		background-color: #000;
	}
	@include b.breakpoint(small) {
		background-image: url('../../public/assets/homepage/hero-bg-mobile@2x.jpg');
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 74.8rem;
		background-color: #000;
	}

	&__inner {
		@include m.flex;
		padding-top: 6.5rem;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		@include b.breakpoint(medium) {
			padding-top: 37.4rem;
			align-items: center;
		}
		@include b.breakpoint(small) {
			padding-top: 23.2rem;
		}
	}
}

.hero {
	max-width: 52.3rem;
	padding-top: 15.3rem;
	text-align: left;
	margin-bottom: 2rem;
	@include b.breakpoint(medium) {
		text-align: center;
		max-width: 68.9rem;
		padding-top: 3.2rem;
		margin-bottom: 21.6rem;
	}
	@include b.breakpoint(medium) {
		max-width: 32.7rem;
		margin-bottom: 15.2rem;
	}

	&--info {
		padding-bottom: 4.2rem;
		color: c.$white;
		max-width: 44.5rem;
		@include b.breakpoint(medium) {
			margin: 0 auto;
		}
	}
}

// Enjoyable
.enjoyable {
	position: relative;
	min-height: 72rem;
	@include m.flex;

	&::after {
		content: '';
		position: absolute;
		display: block;
		top: 30rem;
		left: -2rem;
		background-image: url('../../public/assets/patterns/pattern-curve-top-right.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 89.5rem;
		height: 32rem;
	}

	&__image {
		background-image: url('../../public/assets/homepage/enjoyable-place-desktop@2x.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		width: 54rem;
		height: 72rem;
		box-shadow: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
	}

	&__first {
		position: absolute;
		top: -9rem;
		// box-shadow: 0 54px 74px -50px #5c6779;
	}

	&__content {
		margin-left: auto;
	}
}

.flexy {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content-width {
	max-width: 44.5rem;
	text-align: left;
}

// Locally
.locally {
	position: relative;
	min-height: 72rem;
	margin-bottom: -9rem;
	z-index: 1;

	.containers {
		width: 111rem;
		max-width: 100%;
		margin: 0 auto;
	}

	&::after {
		content: '';
		position: absolute;
		display: block;
		top: 33rem;
		right: 0;
		background-image: url('../../public/assets/patterns/pattern-curve-top-left.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 89.5rem;
		height: 32rem;
		z-index: -1;
	}

	&::before {
		content: '';
		position: absolute;
		display: block;
		position: absolute;
		top: 30rem;
		right: 28rem;
		z-index: 10;
		background-image: url('../../public/assets/patterns/pattern-lines.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 16rem;
		height: 7.6rem;
	}

	// &__image {
	// 	box-shadow: 0 7.5rem 10rem -5rem rgba(56, 66, 85, 0.5);
	// }

	&__patterns {
		position: absolute;
		top: 30rem;

		right: 0;
		z-index: 10;
	}

	&__content {
		margin-right: 12.5rem;
	}
}

.flexi {
	@include m.flex;
	justify-content: flex-start;
}

// Menu
.menu {
	position: relative;
	background: c.$codGray;
	height: 76.1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__container {
		max-width: 100%;
		margin: 0 auto;
		overflow: hidden;
		padding: 0 2rem;
	}

	&__middle {
		margin: 4.9rem 0;
	}

	&__list {
		position: relative;
		margin-left: 12.5rem;
		&::after {
			position: absolute;
			content: '';
			border-bottom: solid 1px c.$shuttleGray;
			left: 0;
			top: 12rem;
			width: 100%;
			height: 0.1rem;
		}
		&::before {
			position: absolute;
			content: '';
			border-bottom: solid 1px c.$shuttleGray;
			left: 0;
			bottom: 12rem;
			width: 100%;
			height: 0.1rem;
		}

		&--info {
			max-width: 35rem;
			font-size: 1.5rem;
			line-height: 2.8rem;
			letter-spacing: -0.01875rem;
		}

		&--content {
			margin-left: 6.2rem;
			max-width: 35rem;
		}
	}

	&__image {
		position: relative;
		max-width: 12.8rem;
		height: 9.6rem;
		z-index: 9;

		&::after {
			position: absolute;
			content: '';
			border-bottom: solid 1px c.$beaver;
			left: 12rem;
			top: 20%;
			width: 3.2rem;
			height: 0.1rem;
			z-index: -1;
		}
	}

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.flex {
	@include m.flex;
}

.text--white {
	color: c.$white;
}

// Events Section
.events {
	position: relative;
	padding: 12rem 0;

	&::after {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: -12rem;
		background-image: url('../../public/assets/patterns/pattern-curve-top-right.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		width: 89.5rem;
		height: 32rem;
		z-index: -1;
	}

	&__flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__image {
		position: relative;
		margin-top: 4rem;
	}

	&__patterns {
		position: absolute;
		top: -4rem;
		left: -5rem;
	}

	&__content {
		margin-left: 12.5rem;
	}

	.btn {
		margin-top: 3.2rem;
	}
}

// Reservation
.reservation {
	background-image: url('../../public/assets/homepage/ready-bg-desktop@2x.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 9.2rem 0;

	&__flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
