@use '../abstracts/colours';

// Base Button Styling
.btn {
	display: inline-block;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	outline: none;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

// BUTTON STYLES

// First Button
.btn--dark-normal {
	color: var(--white);
	background: transparent;
	transition: all 0.3s ease-out;
	border: 1px solid var(--white);
	&:hover,
	&:focus {
		color: var(--mirage);
		background-color: var(--white);
	}
}

// Second Button
.btn--dark-normal {
	color: var(--white);
	background: transparent;
	transition: all 0.3s ease-out;
	border: 1px solid var(--white);
	&:hover,
	&:focus {
		color: var(--codGray);
		background-color: var(--white);
	}
}

// Button Sizes

// Desktop Button
.btn--desktop {
	// width: 17rem;
	// height: 6.4rem;
	padding: 2.4rem 5.6rem;
	text-align: center;
}
