@use '../abstracts/colours' as c;

// Base Button Styling
.btn {
	display: inline-block;
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.6rem;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	outline: none;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

// BUTTON STYLES

// First Button
.btn--dark-normal {
	color: c.$white;
	background: transparent;
	transition: all 0.3s ease-out;
	border: 1px solid c.$white;
	&:hover,
	&:focus {
		color: c.$mirage;
		background-color: c.$white;
	}
}

// Second Button
.btn--dark-normal {
	color: c.$white;
	background: transparent;
	transition: all 0.3s ease-out;
	border: 1px solid c.$white;
	&:hover,
	&:focus {
		color: c.$codGray;
		background-color: c.$white;
	}
}

// Button Sizes

// Desktop Button
.btn--desktop {
	width: 24.5rem;
	height: 6.4rem;
	text-align: center;
}
