@use '../abstracts/colours';

// Base Button Styling
.btn {
	display: inline-block;
	font-weight: 700;
	border-radius: 2.8rem;
	outline: none;
	border: none;
	&:hover {
		cursor: pointer;
	}
}

// BUTTON STYLES

// First Button
.btn--primary {
	// color:;
	// background-color: $blue;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	transition: all 0.3s ease-out;
	&:hover,
	&:focus {
		// color: $white;
		// background-color: $lightBlue;
	}
}

// Second Button

.btn--secondary {
	// color: $blue;
	// background-color: $buttonSecondary;
	transition: all 0.3s ease-out;
	&:hover,
	&:focus {
		// color: $blue;
		// background-color: $buttonSecondaryHover;
	}
}

// Third Button
.btn--tertiary {
	// color: $blue;
	// background-color: $white;
	transition: all 0.3s ease-out;
	&:hover,
	&:focus {
		// color: $lightBlue;
		// background-color: $white;
	}
}

// Button Sizes

// Desktop Button
.btn--desktop {
	width: 17.1rem;
	height: 5.6rem;
	margin: 0 auto;
	// padding: 1.4rem 4.1rem;
	font-size: 1.6rem;
}
